/* Eggit Custom Theme for Just-the-Docs */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
$sidebar-color: #febb7c;
$body-background-color: #ffffff;
$link-color: #7253ed;
$btn-primary-color: #7253ed;
$search-background-color: #ffffff;

$font-family-base: 'Noto Sans KR', sans-serif, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial, sans-serif;